body {
	background-color: #2490B8;
}
.box {
	font-family: Ubuntu;
	color: #444;
	width: 500px;
	height: 280px;
	background-color: #f2f6fa;
	border-radius: 5px;
	border: none;
	margin: 50px auto;

	/* shadow */
	-webkit-box-shadow: 10px 10px 15px 0px rgba(130,130,130,1);
	-moz-box-shadow: 10px 10px 15px 0px rgba(130,130,130,1);
	box-shadow: 10px 10px 15px 0px rgba(130,130,130,1);
}

.today {
	height: 128px;
	float: left;
	width: 100%;
}
.today div {
	float: left; 
	text-align: center; 
	vertical-align: middle; 
	height: 100px; 
	width: 33%;
}

.location {
	margin-top: 45px;
	font-size: 1.3em;
}

.tmpCurrent {
	margin-top: 30px;
	font-size: 1.3em;
}

.location span:first-child, 
.tmpCurrent span:first-child {
	font-weight: bold;
}

.tmpCurrent span:first-child {
	font-size: 1.7em;
}

.today div span {
	display: block;
}

ul.forecast {
	margin: 0px;
	padding: 0px;
}

ul.forecast li	{
	list-style: none;
}

ul.forecast li div.dayBox {
	width: 60px;
	height: 30px;
	float: left;
	margin: 10px;
	text-align: center;
}

.tmpMax {
	color: orange;
}
.tmpMin {
	color: SkyBlue;
}

